:root {
	--background: #121212;
	--foreground: #212121;
	--imageground: #303030;
	--text: #CCCCCC;
	--border: #555555;
	--primary: #A5D6A7;
	--primary-light: #E8F5E9;
	--primary-dark: #66BB6A;
}

body {
	margin: 0;
	color: var(--text);
	background-color: var(--background);
	font-family: BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue", sans-serif;
	text-align: center;
}

a {
	color: var(--primary);
	cursor: pointer;
	transition: color ease-in-out 200ms;
	text-decoration: none;
}

a:hover {
	color: var(--primary-dark);
}

.hidden {
	display: none;
}

.main h1 {
	text-align: center;
}

.logo {
	background-color: var(--foreground);
}

.heading-logo {
	max-width: 50%;
	margin-top: 1.3em;
	background-color: var(--imageground);
}

.content {
	width: 60%;
	text-align: left;
	transform: translate(33%, 0%);
	background-color: var(--foreground);
}

.content p {
	margin: 1em auto 0;
	font-size: 1.3em;
	padding: 0;
	overflow: hidden;
	width: 80%;
}

.content p:first-child {
	padding-top: 1.3em;
}

.content p:last-child {
	padding-bottom: 1.3em;
}

@media screen and (min-width: 1400px) {
	.content p {
		width: 60%;
	}
}

#footer a {
	position: fixed;
	right: 5px;
	bottom: 5px;
	font-size: 0.9em;
}
