/*
	Link Bar CSS
*/

#link-bar ul {
	list-style: none;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	overflow: hidden;
	background-color: #333333;
	border: 2px solid black;
	border-radius: 16px;
	width: 60%;
}

#link-bar li {
	float: left;
}

@media screen and (min-width: 600px) {
	/* one item */
	#link-bar li:first-child:nth-last-child(1) {
	    width: 100%;
	}

	/* two items */
	#link-bar li:first-child:nth-last-child(2),
	#link-bar li:first-child:nth-last-child(2) ~ li {
	    width: 50%;
	}

	/* three items */
	#link-bar li:first-child:nth-last-child(3),
	#link-bar li:first-child:nth-last-child(3) ~ li {
	    width: 33.3333%;
	}

	/* four items */
	#link-bar li:first-child:nth-last-child(4),
	#link-bar li:first-child:nth-last-child(4) ~ li {
	    width: 25%;
	}

	/* five items */
	#link-bar li:first-child:nth-last-child(5),
	#link-bar li:first-child:nth-last-child(5) ~ li {
	    width: 20%;
	}
}

#link-bar li a {
	display: block;
	padding: 20px 10px;
	color: #EEEEEE;
	background-color: #999999;
	text-align: center;
	text-decoration: none;
	font-size: 1.3em;
	border-left: 1px solid #333333;
}

#link-bar li a:hover {
	background-color: #222222;
}

#link-bar li:first-child a {
	border-left: none;
}

@media screen and (max-width: 600px) {
	#link-bar ul li {
		float: none;
		width: 100%;
	}

	#link-bar ul li a {
		border-left: none;
		border-bottom: 1px solid #333333;
		padding-left: 0;
		padding-right: 0;
		width: 100%;
	}
	
	#link-bar ul li:last-child a {
		border-bottom: none;
	}
}
